* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}

my-app {
  font-family: Lato;
}
my-app > tool-bar {
  position: absolute;
}

my-app button {
  margin: auto 5px;
  padding: 5px;
}

custom-viewer {
  display: block;
  width: 100vw;
  height: 100vh;
}
